/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Заголовки */
h2 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

/* Основной контейнер для формы */
form {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Стили для меток */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

/* Стили для полей ввода */
input[type="text"], 
input[type="password"], 
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

/* Стили для кнопок */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Стили для сообщения об ошибке */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

/* Респонсивность для мобильных устройств */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    form {
        width: 100%;
        padding: 20px;
    }
}

